{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div class="add">
    <h3>Обвнвить элемент {{ item.value }}</h3>
    {{ form(add_form) }}
</div>
{% endblock %}
